.grid-container{
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-areas:
    "navbar"
    "main-content"
    "footer";
}

.navbar{
    grid-area: navbar;
    display: grid;
    grid-template-areas: 
    "nav-container";
}
.nav-container{
    grid-area: nav-container;
    display: flex;
justify-content: space-between;
align-items: center;
min-height: 100vh;
}

.main-content{
    grid-area: main-content;
}
.footer{
    grid-area: footer;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    "footer-logo contact-info contact-block";
}